 
 <h1>Adicionar Tarefas</h1>

    <form id="addform" action="/add" method="post" id="form" class="borda sombraFora">

            <div id="input-group" >
                <div>
                    <input type="text" name="tituloTarefa" id="idTituloTarefa" 
                    class="borda" value="" placeholder="Título da Tarefa..." alt="Título da Tarefa" 
                    value="vaio">
                </div> 

                <div>
                    <textarea   placeholder="Descreve a tarefa..."type="text" name="descricaoTarefa" id="idDescricaoTarefa" class="borda"  alt="Descrição da Tarefa" ></textarea>
                </div>

                <div> 
                    <button type="submit" value="add" class="borda">Adicionar</button>
                </div>

                
            </div>
     </form>