
 <h1>Adicionar Tarefas</h1>
    <form action="/add" method="post" id="form">
             <div class="input-group">
                <div class="col">
                    <input type="text" name="tituloTarefa" id="idTituloTarefa" 
                    class="form-control" value="" placeholder="Título da Tarefa" alt="Título da Tarefa" 
                    value="vaio">
                </div>

                <div class="col">
                    <textarea type="text" name="descricaoTarefa" id="idDescricaoTarefa" 
                    class="form-control" alt="Desxrição da Tarefa">
                    </textarea>
                </div>

                <div class="col">
                    <button type="submit" value="add" class="btn btn-success">add</button>
                </div>
            </div>
     </form>